* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    color: white;
}


body {
    background: black;
    color: white;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(/portfolio/assets/img/background.jpg);
    background-size: cover;
    background-position: center;
}

#title {
    font-style: normal;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    position: absolute;
    top: 20px;
    left: 200px;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    left: 900px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.header-text {
    margin-top: 20%;
    font-style: normal;
    font-size: 128px;
    font-weight: 400;
    line-height: 155px;
    text-align: center;
}

.header-text h1{
    font-style: normal;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    text-align: center;
}
/* About Style */
#about {
    padding: 40px 0;
}

.header-text h2 {
    font-style: small;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    text-align: center;
}

/* My Portfolio Style */
#portfolio {
    padding: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-col-1 {
    padding: 10px 5px;
}

.portfolio-col-2 {
    padding: 10px 5px;
}

.portfolio-col-3 {
    padding: 10px 5px;
}